{% extends "users/base.html" %}
{% block content %}
    <div class="navbar">
            <nav class="navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="row">
                        <div id="mynav" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav main-nav-list">
                                <li><a href="/">HOME</a></li>
                                <li><a href={% url 'createUser' %}>CREATE USER</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
    </div>
    <h2>Users</h2>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="comments">
            {% for user in object_list %}
            <div class="comment-sec">
                <div class="comment-detail">
                    <span class="author-name">{{ user.username }}</span>
                    <br>
                    <p>First name: {{ user.first_name }}</p>
                    <p>Last name: {{ user.last_name }}</p>
                    <p>Email address: {{ user.email }}</p>
                    <a href="{% url 'updateUser' user.id %}">Edit the user</a>
                    <br>
                    <a href="{% url 'deleteUser' user.id %}">Delete the user</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}