{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>Steam Friends</title>
    <meta name="description" content="Xlight Bootstrap Responsive HTML5/CSS3 Template">
    <meta name="author" content="Andsolutions.it">
    <meta name="description" content="">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">

	<link href="{% static 'css/theme.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
	<link href="{% static 'css/colors/blue.css' %}" rel="stylesheet" class="colors">


	<!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

	<!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'images/pngguru.com.png'%}">
    <link rel="apple-touch-icon" href="{% static 'images/ico/apple-touch-icon.png'%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114.png'%}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144.png' %}">

</head>

<body data-spy="scroll" data-target="#mynav" data-offset="85">

<!-- Preloader -->
<div id="preloader">
	<div id="status">
		<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
		</div>
	</div>
</div>
<!-- End Preloader -->

<header>

<!-- Bootstrap Menu -->
<div id="navigation">
	<div class="navbar-wrapper">
		<nav class="navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="row">
					<div id="mynav" class="navbar-collapse collapse">
						<ul class="nav navbar-nav main-nav-list">
							<li><a href="#home">HOME</a></li>
							<li><a href="#about">ABOUT US</a></li>
							<li><a href="#team">TEAM</a></li>
							<li><a href="#works">GALLERY</a></li>
							<li><a href="#tickets">TICKETS</a></li>
							<li><a href="#news">NEWS</a></li>
							<li><a href="#contacts">Contact</a></li>
                            {% if user.is_authenticated %}
                                {% if user.is_superuser %}
                                    <li><a href="users/">Admin</a></li>
                                {% endif %}
                                    <li><a href="logout/">Logout</a></li>
                                <li><a href={% url 'updateUser' user.id%}>Edit own profile</a></li>
                            {% else %}
                                <li><a href="login/">log in</a></li>
                                <li><a href="register/">register</a></li>
                            {% endif %}
                            <li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>
<!-- End Bootstrap Menu -->

<!-- Slider -->
<section id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
			<div class="item active" style="background-image: url({% static 'images/index/1280px-CFR_050_locomotive.jpg'%})"> <!-- Change Image -->
				<div class="caption">
					<h1 class="animated fadeInLeftBig">WELCOME TO <strong>STEAM FRIENDS</strong></h1>
					<a data-scroll class="learn-more animated fadeInUpBig" href="#about">MORE</a>
				</div>
			</div>
			<div class="item" style="background-image: url(../static/images/index/3425239452_eaeef45e98_b.jpg)"> <!-- Change Image -->
				<div class="caption">
					<h1 class="animated fadeInLeftBig"><strong>UNIQUE EXPERIENCES</strong></h1>
					<a data-scroll class="learn-more animated fadeInUpBig" href="#about">MORE</a>
				</div>
			</div>
			<div class="item" style="background-image: url(../static/images/index/82550914_2618342445062851_1902698858912153600_n.jpg)"> <!-- Change Image -->
				<div class="caption">
					<h1 class="animated fadeInLeftBig">WE RESPECT <strong>TRADITION</strong></h1>
					<p class="animated fadeInRightBig">we don't want to see it getting lost</p>
					<a data-scroll class="learn-more animated fadeInUpBig" href="#about">More</a>
				</div>
			</div>
        </div>
        <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>
</section>
<!-- End Slider -->

</header>

<!-- About Xlight -->
<section class="section-wrapper" id="about">
	<div class="about-us">
		<div class="why-us">
			<div class="container">
				<div class="row">
					<!-- Block Title -->
					<div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">
						<h1><span>Despre Prietenii Aburoaselor</span></h1>
					</div>
					<div class="element-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
						<h1>Cine suntem?</h1>
						<h2>Prietenii aburoaselor este o companie care dorește că ceea ce a fost odată, bine cunoscutele  locomotivele cu abur, cele ce ne-au infrumusetit și înveselit copilăria, să nu fie dată uitării.Credem că prin acțiunile noastre vom schimbă părerile oamenilor despre "aburoase", credem că putem să revenim la epoca lor. Părerea noastră este că nu viteză cu care le facem contează așa de mult, ci frumusețea călătoriilor noastre.Vrem că prin tot ceea ce facem să redăm oamenilor acea plăcere care o aveau odinioară pentru locomotive.
						</h2>
						<br>
						<br>
						<h2>Ne ocupăm de întreținerea,repararea și utilizarea locomotivelor cu abur. Facem parte din o organizație mondială numită <span class="main-color">STEAM FRIENDS</span>.</h2>
					</div>
					<!-- End Block Title -->
				</div>
			</div>
		</div>
	</div>
	<!-- End About Xlight -->


	<!-- Facts -->
	<div class="facts parallax">
		<div class="overlay">
			<div class="wrapper-block-facts">
				<div class="container">
					<div class="row">
						<div class="element-title">
							<h1 class="main-color wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Despre steam friends</h1>
							<h3 class="white-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">Statistici ale organizației la Nivel mondial</h3>
						</div>
					</div>
					<div class="row">
						<div class="wrapper-number">
							<div class="col-lg-3 col-md-3">
								<div class="number wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
									<p class="timer" data-from="0" data-to="63" data-speed="2000">20</p>
								</div>
								<div class="number-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
									țări
								</div>
							</div>
							<div class="col-lg-3 col-md-3">
								<div class="number wow fadeInRight" data-wow-duration="1s" data-wow-delay="450ms">
									<p class="timer" data-from="0" data-to="432" data-speed="2000">150</p>
								</div>
								<div class="number-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="450ms">
									locomotive
								</div>
							</div>
							<div class="col-lg-3 col-md-3">
								<div class="number wow fadeInRight" data-wow-duration="1s" data-wow-delay="600ms">
									<p class="timer" data-from="0" data-to="957" data-speed="2000">5000</p>
								</div>
								<div class="number-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="600ms">
									voluntari
								</div>
							</div>
							<div class="col-lg-3 col-md-3">
								<div class="number wow fadeInRight" data-wow-duration="1s" data-wow-delay="750ms">
									<p class="timer" data-from="0" data-to="50" data-speed="2000">25</p>
								</div>
								<div class="number-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="750ms">
									ani de existență
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Facts -->

</section>
<!-- End About Section -->

<!-- Team Section -->
<section class="section-wrapper" id="team">
	<div class="team">
		<!-- Block Title -->
		<div class="meet-the-team">
			<div class="element-title">
				<div class="row">
					<div class="container">
					<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
						<h1><span>CUNOAȘTE ECHIPA</span></h1>
					</div>
						<h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">ECHIPA NOASTRĂ CREATIVĂ</h1>
					</div>
				</div>
			</div>
			<!-- End Block Title -->
			<div class="row">
				<div class="container">
					<div class="wrapper-team">
						<div class="col-lg-3 col-md-3">
							<div class="team-member">
								<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="300ms">
									<div class="team-member-image">
										<img src="../static/images/team/profile1.jpg" alt="">
										<div class="team-overlay">
											<div class="img-overlay"></div>
										</div>
										<div class="overlay-content">
											<a class="view-profile-read-more" href="{% url 'profile1' %}" >Profil</a>
										</div>
									</div>
									<div class="team-member-meta">
										<h4 class="team-member-name"><span class="main-color">S</span>imion <span class="main-color">I</span>nișconi</h4>
										<div class="team-member-role">Fondator</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="team-member">
								<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="500ms">
									<div class="team-member-image">
										<img src="../static/images/team/militaryschool.jpeg" alt="" > <!-- Change Image -->
										<div class="team-overlay">
											<div class="img-overlay"></div>
										</div>
										<div class="overlay-content">
											<a class="view-profile-read-more" href="{% url 'profile2' %}">Profil</a>
										</div>
									</div>
									<div class="team-member-meta">
										<h4 class="team-member-name"><span class="main-color">A</span>ndrei <span class="main-color">S</span>olovăstru</h4>
										<div class="team-member-role">Co-fondator</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="team-member">
								<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="800ms">
									<div class="team-member-image">
										<img src="../static/images/team/member-3.jpg" alt="" /> <!-- Change Image -->
										<div class="team-overlay">
											<div class="img-overlay"></div>
										</div>
										<div class="overlay-content">
											<div class="team-member-social-list">
											</div>
											<a class="view-profile-read-more" href="{% url 'profile3' %}">Profil</a>
										</div>
									</div>
									<div class="team-member-meta">
										<h4 class="team-member-name"><span class="main-color">G</span>eorg <span class="main-color">H</span>ocevar</h4>
										<div class="team-member-role">Șef ateliere</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="team-member">
								<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="1100ms">
									<div class="team-member-image">
										<img src="../static/images/team/member-4.jpg" alt="" /> <!-- Change Image -->
										<div class="team-overlay">
											<div class="img-overlay"></div>
										</div>
										<div class="overlay-content">
											<a class="view-profile-read-more" href="{% url 'profile4' %}">Profil</a>
										</div>
									</div>
									<div class="team-member-meta">
										<h4 class="team-member-name"><span class="main-color">J</span>amie <span class="main-color">D</span>uff</h4>
										<div class="team-member-role">Co-fondator</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Profile Team -->
		<div id="team-single-wrap">
			<div id="team-single">
			</div>
		</div>
		<!-- End Profile Team -->
	</div>

</section>
<!-- End Team Section -->


<!-- Works Section -->
<section class="section-wrapper" id="works">
	<div class="works">
		<!-- Block Title -->
		<div class="element-title">
			<div class="row">
				<div class="container">
					<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
						<h1><span>GALERIE MEDIA</span></h1>
					</div>
				</div>
			</div>
		</div>
		<!-- End Block Title -->
		<div class="row">
			<div class="container-fluid">
				<div class="wrapper-works">
					<div class="portfoliO">
						<ul id="filters" class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
						  <li><span class="filter active" data-filter="all">toate</span></li>
						  <li><span class="filter" data-filter=".category-1">IMAGINI</span></li>
						  <li><span class="filter" data-filter=".category-2">VIDEO</span></li>
						</ul>
						<div class="portfolio-wrap">
							<div class="myport wow fadeInDown" data-wow-duration="1s" data-wow-delay="600ms">
								<div class="mix category-1 portfolio" data-myorder="1">
									<div class="img-holder">
										<a class="folio-read-more" href="#" title="This is the description">
											<img class="galerie" src="../static/images/works/british.jpg" alt="This is the title"> <!-- Change Image -->
											<a href="galerie_british.html"/>
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">locomotive din marea britanie</div>
												<div class="works-overlay-text">Galerie foto</div>
												<a class="view-profile-read-more" href="{% url 'british' %}">Galerie</a>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-2 portfolio" data-cat="category-2" data-myorder="2">
									<div class="img-holder">
										<a class="folio-read-more" href="#" title="This is the description">
										<img class="galerie" src="../static/images/works/america.jpg" alt="This is the title">
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">LOCOMOTIVE DIN SUA</div>
												<div class="works-overlay-text">Clip video</div>
												<a class="view-profile-read-more" href="{% url 'america' %}">Video</a>
											</div>
										</a>
									</div>
								</div>


								<div class="mix category-1 portfolio" data-cat="category-1" data-myorder="4">
									<div class="img-holder">
										<a class="folio-read-more" href="#" title="This is the description">
											<img class="galerie" src="../static/images/works/romania.jpg" alt="This is the title"> <!-- Change Image -->
											<a href="romania.html"/>
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">Locomotive din România</div>
												<div class="works-overlay-text">Galerie foto</div>
												<a class="view-profile-read-more" href="{% url 'romania' %}">Galerie</a>
											</div>
										</a>
									</div>
								</div>

								<div class="mix category-2 portfolio" data-cat="category-2" data-myorder="5">
									<div class="img-holder">
										<a class="folio-read-more" href="#" title="This is the description">
											<img class="galerie" src="../static/images/works/flying_scotsman_in_doncaster.jpg" aria-setsize="auto" alt="This is the title"> <!-- Change Image -->
												<div class="works-overlay-text"></div>
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">The Flying Scotsman</div>
												<div class="works-overlay-text">Clip video</div>
												<a class="view-profile-read-more" href="{% url 'scotsman' %}">Video</a>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-1 portfolio" data-cat="category-1" data-myorder="7">
									<div class="img-holder">
										<a class="folio-read-more" href="#"  title="This is the description">
											<img class="galerie" src="../static/images/works/dims.png" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">Întreținere locomotive</div>
												<div class="works-overlay-text">Galerie foto</div>
												<a class="view-profile-read-more" href="{% url 'intretinere' %}">Galerie</a>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-2 portfolio" data-cat="category-2" data-myorder="8">
									<div class="img-holder">
										<a class="folio-read-more" href="#"  title="This is the description">
											<img class="galerie" src="../static/images/works/brad.jpg" alt="This is the title"> <!-- Change Image -->
											<a href="brad.html"/>
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">Brad-Criscior</div>
												<div class="works-overlay-text">Clip video</div>
												<a class="view-profile-read-more" href="{% url 'brad' %}">Video</a>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-1 portfolio" data-cat="category-1" data-myorder="10">
									<div class="img-holder">
										<a class="folio-read-more" href="{% url 'celebre' %}"  title="This is the description">
											<img class="galerie"  src="../static/images/works/celebre.jpg" alt="This is the title"> <!-- Change Image -->

											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">Locomotive celebre</div>
												<div class="works-overlay-text">Galerie foto</div>
											    <a class="view-profile-read-more" href="{% url 'celebre' %}">Galerie</a>
                                            </div>
										</a>
									</div>
								</div>
								<div class="mix category-2 portfolio" data-cat="category-2" data-myorder="11">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-video-vimeo.html" title="This is the description">
											<img class="galerie" src="../static/images/works/zlatna.jpg" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">Probe locomotiva</div>
												<div class="works-overlay-text">Clip Video</div>
												<a class="view-profile-read-more" href="{% url 'proba' %}">Video</a>
											</div>
										</a>
									</div>
								</div>
								<div class="gap"></div>
								<div class="gap"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Single Project -->
		<div id="works-single-wrap">
			<div id="works-single">
			</div>
		</div>
		<!-- End Single Project -->
	</div>

	<!-- Partners -->
	<div class="partners parallax">
		<div class="overlay">
			<div class="wrapper-block-partners">
				<!-- Block Title -->
				<div class="element-title">
					<div class="row">
						<div class="container">
							<h1 class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">linkuri utile</h1>

						</div>
					</div>
				</div>
				<!-- End Block Title -->
				<div class="row">
					<div class="container">
						<div class="wrapper-partners">
							<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
								<a href="https://sites.google.com/site/cenaferwebsite/home/muzeu"><img src="../static/images/partners/cfr.png" alt=""></a> <!-- Change Image -->
							</div>
							<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s" data-wow-delay="500ms">
								<a href="https://www.up.com/heritage/steam/"><img src="../static/images/partners/union.png" alt=""></a> <!-- Change Image -->
							</div>
							<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s" data-wow-delay="700ms">
								<a href="https://www.railwaymuseum.org.uk/"><img src="../static/images/partners/national-railway-museum-logo.png" alt=""></a> <!-- Change Image -->
							</div>
							<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s" data-wow-delay="900ms">
								<a href="https://www.cffviseu.com/"><img src="../static/images/partners/sigla_mocanita.png" alt=""></a> <!-- Change Image -->
							</div>
						</div>
					</div>
				</div>
				<div class="element-title">
					<div class="row">
						<div class="container">
							<h1 class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">SPONSORII NOȘTRI</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="container">
						<div class="wrapper-partners">
							<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s" data-wow-delay="1100ms">
								<a href="https://ro.yahoo.com/"><img src="../static/images/partners/partners5.png" alt=""></a> <!-- Change Image -->
							</div>
							<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s" data-wow-delay="1300ms">
								<a href="https://www.adidas.com/us"><img src="../static/images/partners/partners6.png" alt=""></a> <!-- Change Image -->
							</div>
							<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s" data-wow-delay="1500ms">
								<a href="https://www.fedex.com/en-ro/home.html"><img src="../static/images/partners/partners7.png" alt=""></a> <!-- Change Image -->
							</div>
							<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s" data-wow-delay="1700ms">
								<a href="https://www.microsoft.com/ro-ro"><img src="../static/images/partners/partners3.png" alt=""></a> <!-- Change Image -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Partners -->

</section>
<!-- End Works Section -->

<!-- Price Section -->

<section class="section-wrapper" id="tickets">
	<div class="pricing">
		<!-- Block Title -->
		<div class="element-title">
					<div class="element-title">
						<div class="row">
							<div class="container">
								<h1 class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">Bilete de tren</h1>
								<h3 class="white-color wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Una dintre cele mai importante valori culturale şi tehnice ale țării, Mocănița de la Vişeu de Sus este ultima cale ferată forestieră cu abur din lume. De pe acest site puteți cumpăra bilete.</h3>
							</div>
						</div>
					<br>
				    <div class="btn btn-large"><a href="https://online.mocanita-maramures.com:8870/">TICKETS HERE</a></div>
		</div>
		<!-- End Block Title -->
		<div class="row">
			<div class="container">
				<div class="wrapper-pricing">

				</div>
			</div>
		</div>
    </div>
	<div class="clients parallax">
		<!-- Block Title -->
		<div class="overlay">
			<div class="wrapper-block-clients">
				<div class="element-title">
					<div class="row">
						<div class="container">
							<h1 class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">TESTIMONIALE</h1>
						</div>
					</div>
				</div>
				<!-- End Block Title -->
				<div class="row">
					<div class="container">
						<div class="wrapper-clients wow fadeInDown" data-wow-duration="1s" data-wow-delay="500ms">
							<!-- Start Testimonial Slider -->
							<!--<div class="carousel slide carousel-mod" data-ride="carousel" id="testimonial">-->
							<div id="twitter-carousel" class="carousel slide" data-ride="carousel">
									<ol class="carousel-indicators">
										<li data-target="#twitter-carousel" data-slide-to="0" class="active"></li>
										<li data-target="#twitter-carousel" data-slide-to="1"></li>
										<li data-target="#twitter-carousel" data-slide-to="2"></li>
									</ol><!-- /.carousel-indicators -->
								<div class="carousel-inner">
									<!-- Testimonial #1  -->
									<div class="item active">
										<div class="row">
											<div class="col-lg-12 col-sm-12">
												<div class="testimonial-inner">
													<img class="img-circle" src="../static/images/clients/person_1.jpg" alt="" title="" /><!-- Testimonial Image  -->
													<p>Un obiectiv turistic unic în țară și în lume pe care nu ar trebui sa il rateze nimeni atunci vand vizitează Maramureșul!</p><!-- Tesimonial  -->
												</div>
												<h5>-- Maria Toader, Oradea --</h5>
											</div>
										</div>
									</div>
									<!-- End Testimonial #1  -->
									<!-- Testimonial #2  -->
									<div class="item">
										<div class="row">
											<div class="col-lg-12 col-sm-12">
												<div class="testimonial-inner">
													<img class="img-circle" src="../static/images/clients/person_2.jpg" alt="" title="" />
													<p>Un obiectiv turistic care trebuie văzut, peisaje de vis.</p>
												</div>
												<h5>-- Vasile Ionescu, Craiova --</h5>
											</div>
										</div>
									</div>
									<!-- End Testimonial #2  -->
									<!-- Testimonial #3  -->
									<div class="item">
										<div class="row">
											<div class="col-lg-12 col-sm-12">
												<div class="testimonial-inner">
													<img class="img-circle" src="../static/images/clients/person_3.jpg" alt="" title="" />
													<p>Un dram de istorie petrecut intr-o după-amiază superba in natură.</p>
												</div>
												<h5>-- Jessica Smith, California --</h5>
											</div>
										</div>
									</div>
									<!-- End Testimonial #3  -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</section>
<!-- End Price Section -->


<!-- News Section -->
<section class="section-wrapper" id="news">
	<div class="news">
		<!-- Block Title -->
		<div class="element-title">
			<div class="row">
				<div class="container">
					<div class="section-title wow fadeInDown">
						<h1><span>News and events</span></h1>
					</div>
					<h1 class="wow fadeInUp">Latest posts</h1>
				</div>
                <br>
                <div class="container">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <a class="btn" href="{% url 'createpost' %}">Add a new post</a>
                    {% endif %}
                        <a class="btn" href="blog/allposts">All posts</a>
                {% else %}
                    <h2> In order to see all our posts please log in or sign up</h2>
                {% endif %}
                </div>
			</div>

		</div>
		<!-- End Block Title -->
		<div class="container">
			<div class="wrapper-news">
				<div class="row">
                    {% block content %}
					{% for post in posts_up %}
                        <div class="col-lg-6 col-sm-6">
                            <div class="news-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay="300ms">
                                <div class="entry-header">
                                    <div class="blog-image">
                                        <a href="{% url 'postdetailed' post.id %}"><img height="400px" width="900px" alt="" src={{ post.image.url }}></a>
                                    </div>
                                    <div class="post-date">
                                        <h2>{{ post.date_posted.day }}<span>{{ post.date_posted|date:'F' }}</span></h2>
                                    </div>
                                </div>

                                <div class="entry-content">
                                    <h3 class="entry-title">
                                        <a href="{% url 'postdetailed' post.id %}">{{ post.title }} </a>
                                    </h3>
                                    <p>{{post.content|safe|truncatewords:50 }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
				</div>
				<div class="row">

					{% for post in posts_down %}
                        <div class="col-lg-6 col-sm-6">
                            <div class="news-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay="300ms">
                                <div class="entry-header">
                                    <div class="blog-image">
                                        <a href="{% url 'postdetailed' post.id %}"><img height="400px" width="900px" alt=""  src={{ post.image.url }}></a>
                                    </div>
                                    <div class="post-date">
                                        <h2>{{ post.date_posted.day }}<span>{{ post.date_posted|date:'F' }}</span></h2>
                                    </div>
                                </div>

                                <div class="entry-content">
                                    <h3 class="entry-title">
                                        <a href="{% url 'postdetailed' post.id %}">{{ post.title }} </a>
                                    </h3>
                                    <p>{{post.content|truncatewords:50 }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endblock content %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End News Section -->


<!-- Contact Section -->
<section class="section-wrapper" id="contacts">
	<!-- Contacts -->
	<div class="contacts">

		<!-- Block Title -->
		<div class="element-title">
			<div class="row">
				<div class="container">
					<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
						<h1><span>Contact</span></h1>
					</div>
					<h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Ne puteți <span class="main-color">contacta</span>  în următoarele moduri:</h3>
				</div>
			</div>
		</div>
		<!-- End Block Title -->

		<div class="container">
			<div class="row">
				<div class="wrapper-contacts">
					<div class="contact_form">
						<div class="row">
							<div class="wrapper-contacts-icons">
								<div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
									<i class="fa fa-map-marker"></i>
									<div class="">Str. Horia nr. 100</div>
									<div class="">Timișoara</div>
								</div>
								<div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="450ms">
									<i class="fa fa-mobile-phone"></i>
									<div class="">Luni - Vineri 08:00 21:00</div>
									<div class="">+40 256 789 123</div>
								</div>
								<div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="600ms">
									<i class="fa fa-envelope-o"></i>
									<div class="">Ne puteți trimite și e-mailuri la adresa:</div>
									<div class="">steamfriendsro@yahoo.com</div>
								</div>

							</div>
						</div>
						<br>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contacts -->

</section>
<!-- End Contact Section -->

<!-- Scroll to Top  -->
<a href="#" class="scroll-up"><i class="fa fa-arrow-up"></i></a>
<!-- End Scroll To Top  -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/retina.min.js' %}"></script>
	<script src="{% static 'js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>
	<script src="{% static 'js/waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
	<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
	<script src="{% static 'js/jquery.knob.min.js' %}"></script>
	<script src="{% static 'js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>


</body>
</html>