<!DOCTYPE html>
<html lang="en">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>Xlight Bootstrap Responsive HTML5/CSS3 Template</title>
    <meta name="description" content="Xlight Bootstrap Responsive HTML5/CSS3 Template">
    <meta name="author" content="Andsolutions.it">
    <meta name="description" content="">
	
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../static/css/animate.min.css" rel="stylesheet" >
	<link href="../static/css/font-awesome.min.css" rel="stylesheet">
	<link href="../static/css/prettyPhoto.css" rel="stylesheet">
	
	<link href="../static/css/theme.css" rel="stylesheet">
	<link href="../static/css/responsive.css" rel="stylesheet">
	<link href="../static/css/colors/blue.css" rel="stylesheet" class="colors">


	<!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    
	<!-- Favicons -->
    <link rel="shortcut icon" href="../static/images/ico/favicon.ico">
    <link rel="apple-touch-icon" href="../static/images/ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/images/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/images/ico/apple-touch-icon-144.png">
</head>

<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		<img class="img-responsive" src="../static/images/works/portfolio-details1.jpg" alt="">
		<div class="row">
			<div class="col-sm-9">
				<div class="project-info">
					<h3>Texts about Project</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="project-details">
					<h3>Project Details</h3>
					<p><strong>Client: </strong>Exit Agency</p>
					<p><strong>Date:</strong> 15 Jun 2014</p>
					<p><strong>Tag:</strong> Graphic, Design, Creative</p>
					<a class="btn" href="#">View Project</a>
				</div>  
			</div>
		</div>
	</div>
</div>