{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<meta charset="utf-8">
		<title>Simion Inișconi</title>
		<meta name="description" content="Xlight Bootstrap Responsive HTML5/CSS3 Template">
		<meta name="author" content="Andsolutions.it">
		<meta name="description" content="">

		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" >
		<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">

		<link href="{% static 'css/theme.css' %}" rel="stylesheet">
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
		<link href="{% static 'css/colors/blue.css' %}" rel="stylesheet" class="colors">


		<!-- Google Font -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

		<!-- Favicons -->
		<link rel="shortcut icon" href="{% static 'images/pngguru.com.png'%}">
		<link rel="apple-touch-icon" href="../static/images/ico/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../static/images/ico/apple-touch-icon-72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../static/images/ico/apple-touch-icon-114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../static/images/ico/apple-touch-icon-144.png">

	</head>

	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="/#team"><i class="fa fa-times"></i></a>
		<div class="row">
			<div class="col-sm-4">
					<img src="../static/images/team/member-3.jpg" alt="" /> <!-- Change Image -->
					<h4 class="team-member-name"><span class="main-color">G</span>eorg <span class="main-color">H</span>ocevar</h4>
					<div class="team-member-role">Șef ateliere</div>
			</div>
			<div class="col-sm-8">
				<div class="team-details">
					<h3>Despre Georg Hocevar</h3>
					<p>Georg Hocevar s-a născut în apropierea orașului Graz din Austria.Pasiunea pentru trenuri i-a fost
						 inspirată de linia forestieră din apropierea casei sale.Acesta pasiune l-a făcut să înceapă studii în transporturi și
						 să ajungă în orașul Brad din România.În prezent se ocupă de atelierele unde se repara locomotivele.</p>
				</div>
				<div class="bottom-footer-center">
					<ul class="bottom-social-icons">
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-flickr"></i></a></li>
					</ul>
				</div>					
			</div>
		</div>
	</div>
</div>
</html>